<div class="ui segment container">
  <div class="ui three column divided grid">
    <div class="row">
      <div class="column">
        <%= link_to("New instance", new_instance_path , class:"ui green button") %>
      </div>
      <div class="column">
        <h1 class="ui center center aligned header">Virtual Machines</h1>
      </div>
      <div class="column">
        </div>
      </h4>
    </div>
  <div class="ui attached segment">

  <% @instances.each do |instance| %>
    <div class="ui segment  container">
    <h2><%= link_to(instance.name, instance_path(instance.id))%></h2>
    </div>
  <% end %>

</div>