<div class="ui segment container">
  <h1 class="ui center aligned header">Virtual Machines</h1>

<% @vms.each do |vm| %>
  <div class="ui segment container">
  <h2><%= link_to(vm.instance_name, virtual_machine_path(vm.id))%></h2>
  </div>
<% end %>

</div>