<% if obj.errors.any? %>
  <div class="ui container negative message">
      <div class="ui header">Errors:</div>
      <ul class="list">
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
         <% end %>
      </ul>
  </div>
<% end %>