<div class="ui container">
  <% flash.each do |message_type, message| %>
    <% if message_type == "alert" %>
      <% message_type = "danger" %>
    <% elsif message_type == "notice"  %>
      <% message_type = "positive" %>
    <% end %>
  <div class="ui <%=message_type %> message">
    <i class="close icon"></i> 
    <div class="header">
      Success!
    </div>
    <p>
      <%= message %>
  </p>
  
  </div>
<% end %>
</div>

