<div class="ui sticky inverted stackable menu">
  <div class="ui container inverted">
      <div class="header item">
        <%= link_to "VMM", root_path %>
      </div>
    <%= link_to("Virtual Machines", instances_path, class: "item") %>
    <%= link_to("Presets", presets_path, class: "item") %>
  </div>
</div>

