<div class="ui attached stackable menu">
  <div class="ui container">
      <div class="header item">
        <%= link_to "VMM", root_path %>
      </div>
    <%= link_to("Virtual Machines", virtual_machines_path, class: "item") %>
  </div>
</div>